
body {
  background:#edeeef;
}

.top{
background :#545a5e;
height: 15vh;
width: 100%;
}

.white {
  background: white;
  height: 85vh;
  width: 70%;
  margin: 0 15vw 0 15vw;
}

.foot{
  height: 10vh;
  width: 70%;
  background: black;
  margin: 0 15vw 0 15vw;
  }
